* {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

body, input {
    font-size: 28px;
    font-family: Montserrat;
    color: #444;
    background: whitesmoke;
}

em {
    font-family: Lobster Two;
    font-weight: normal;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.content {
    width: 800px;
    margin: 125px auto 0;
}

.marquee p, .marquee p input {
    text-align: center;
    font-size: 48px;
    font-weight: 700;
}

.marquee p {
    margin: 0 0 15px 0;
}

.marquee input {
    width: 100%;
    border: none;
    border-bottom: 1px dashed #c0c0c0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.marquee input:focus {
    outline: 0;
}

.marquee em {
    font-size: 38px;
}

.flip-wrapper {
    width: 200px;
    height: 200px;
    position: relative;
    margin: 100px auto 0;

    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -o-perspective: 800px;
    perspective: 800px;
}

.flipper {
    width: 100%;
    height: 100%;
    position: absolute;
}

.flipper, .flipper figure {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.flipper figure {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 20px;
    border: 1px solid #c0c0c0;
    text-align: center;

    -webkit-transition: -webkit-transform .45s;
    -moz-transition: -moz-transform .45s;
    -o-transition: -o-transform .45s;
    transition: transform .45s;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;

    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;

    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flipper figure.message {
    padding-top: 50px;
    background: #3EA0D5;
    color: white;

    -webkit-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    -o-transform: rotateX(180deg);
    transform: rotateX(180deg);
}

.flipper figure.result {
    -webkit-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    -o-transform: rotateX(180deg);
    transform: rotateX(180deg);
}

.better {
    background: #3ACB77;
    color: white;
}

.worse {
    background: #F25050;
    color: white;
}

.equal, .identical {
    background: #d8d8d8;
}

.flipper figure p {
    margin: 0;
}

#adj {
    margin-top: 10px;
    font-size: 50px;
}

#ratings {
    position: absolute;
    bottom: 20px;
    width: 160px;
    font-size: 14px;
}

.identical #adj {
    font-size: 30px;
}

.identical #ratings {
    visibility: hidden;
}

footer {
  padding: 100px 0 50px;
  font-size: 11px;
  text-align: center;
  color: #c0c0c0;
}

footer a {
    text-decoration: underline;
    color: inherit;
}

/** Make placeholder text consistent **/

::-webkit-input-placeholder {
   color: #d8d8d8;
}

:-moz-placeholder { /* Firefox 18- */
   color: #d8d8d8;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #d8d8d8;
}

:-ms-input-placeholder {
   color: #d8d8d8;
}

/* autocomplete stuff */

.ui-autocomplete-loading {
    background: whitesmoke url("img/ajax-loader.gif") 99% no-repeat;
}

.ui-state-hover, .ui-widget-content
.ui-state-hover, .ui-widget-header .ui-state-hover,
.ui-state-focus, .ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
    background: #F0F9FF;
    border: 1px solid #2B9EE8;
}

.ui-menu-item a {
    display: block;
    overflow: hidden;
    padding: 3px 0;
}

.ui-menu-item a img {
    float: left;
    width: 30px;
    margin-right: .4em;
}

.meta p {
    margin: 0;
}

.title {
    font-size: 18px;
}

.detail {
    font-size: 12px;
    color: grey;
}
